<footer>
    <div class="footer-circle footer-circle-1"></div>
    <div class="footer-circle footer-circle-2"></div>
    <div class="container">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="images/Logo.png" alt="HealthLuminate Logo" />
          <p>HealthLuminate is a brand of CareLuminate Incorporated</p>
        </div>
        <div class="footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Legal</h4>
          <ul>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="terms.html">Terms of Use</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Contact</h4>
          <ul>
            <li><a href="mailto:info@healthluminate.com">info@healthluminate.com</a></li>
            <li><a href="tel:+18016159485">(801) 615-9485</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 HealthLuminate. All Rights Reserved.</p>
      </div>
    </div>
  </footer>