.swagger-ui {
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}  
.swagger-ui .topbar {
    background-color: #fff;
    border-bottom: 15px solid #72902B;
}

.topbar-wrapper span {
    display: none;
}

.topbar-wrapper img {
    background: url('./logo.png') no-repeat;
    width: 400px;
    height: 75px;
    padding-left: 400px;
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
    border-color: #72902B;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background: #72902B;
}

#toggleHowToUse {
    cursor: pointer;
}

.auth-container h4 {
    display: none;
}

.auth-container .renderedMarkdown {
    font-weight: bold;
}

.auth-container .renderedMarkdown span {
    display: block;
    color: #aaa;
    font-size: 11px;
}

.swagger-ui .auth-container .wrapper > p {
    display: none;
}

.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table, .swagger-ui .info h3, .swagger-ui .info .title {
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}

.swagger-ui .model, .swagger-ui .opblock-tag, .swagger-ui .btn, .swagger-ui button {
    font-family: Open Sans,sans-serif !important;
}

.swagger-ui .opblock-tag small, .swagger-ui .opblock .opblock-summary-path {
    font-family: Open Sans,sans-serif;
}

.swagger-ui .parameter__name, .swagger-ui .response-col_status {
    font-family: Open Sans,sans-serif;
}

.swagger-ui button, .swagger-ui .tab li, .swagger-ui table thead tr td {
    font-family: Open Sans,sans-serif;
}

.swagger-ui code {
    font-family: Open Sans,sans-serif;
}

.swagger-ui select, .swagger-ui label, .swagger-ui input, .swagger-ui button, .swagger-ui .model-title,
.swagger-ui .info .title small pre, .swagger-ui .info a, .swagger-ui .parameter__type,
.swagger-ui .opblock .opblock-summary-method, .swagger-ui .opblock .opblock-summary-description, .swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .dialog-ux .modal-ux-header h3, .swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui table thead tr td, .swagger-ui table thead tr th, .swagger-ui .response-col_links {
    font-family: Open Sans,sans-serif;
}

.swagger-ui .opblock-body pre.microlight, .swagger-ui .responses-inner h4, .swagger-ui .responses-inner h5 {
    font-family: Open Sans,sans-serif;
}


.swagger-ui .auth-btn-wrapper .btn-done {
    margin-right: 3em;
}

.swagger-ui .parameter__empty_value_toggle {
    display: none;
}